*,v
/SecurityHeadersPlugin.md5
/SecurityHeadersPlugin.sha1
/SecurityHeadersPlugin.tgz
/SecurityHeadersPlugin.txt
/SecurityHeadersPlugin.zip
/SecurityHeadersPlugin_installer
/SecurityHeadersPlugin_installer.pl

